@media (prefers-reduced-motion: no-preference) {
    *{
        scroll-behavior: smooth;
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    /*background-image to be added later on to replace black background*/
    background-color: black;
    background-size: cover;
    background-position: center;
  }

  .name-logo{
    color: #5596e6;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17.5px;
  }
  
  nav > ul > li{
    display: inline-block;
    padding: 10px 7.5px;
  }
  
  nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav > ul > li > a:hover{
    color: #5596e6;
    transition: .4s;
  }

  .content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%)
  }

  h1{
    color: white;
    margin: 20px 0 2px;
    font-size: 75px;
  }

  span{
    color: #5596e6;
  }
  
  h3{
    color: white; /*change color later*/
    font-size: 25px;
  }
  
  h4{
    color: white; /*change color later*/
    letter-spacing: 2px;
    font-size: 20px;
  }